<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.framework.compensate.mybatis.mapper.CompensateLogMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.framework.compensate.mybatis.po.CompensateLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="compensate_id" jdbcType="BIGINT" property="compensateId" />
    <result column="trigger_type" jdbcType="VARCHAR" property="triggerType" />
    <result column="compensate_state" jdbcType="VARCHAR" property="compensateState" />
    <result column="compensate_result" jdbcType="VARCHAR" property="compensateResult" />
    <result column="exception_info" jdbcType="VARCHAR" property="exceptionInfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, compensate_id, trigger_type, compensate_state, compensate_result, exception_info, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_compensate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithLimit" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_compensate_log
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    <if test="limit != null">
      limit #{limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_compensate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_compensate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLogExample">
    delete from cm_compensate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLog">
    insert into cm_compensate_log (id, compensate_id, trigger_type, 
      compensate_state, compensate_result, exception_info, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{compensateId,jdbcType=BIGINT}, #{triggerType,jdbcType=VARCHAR}, 
      #{compensateState,jdbcType=VARCHAR}, #{compensateResult,jdbcType=VARCHAR}, #{exceptionInfo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLog">
    insert into cm_compensate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="compensateId != null">
        compensate_id,
      </if>
      <if test="triggerType != null">
        trigger_type,
      </if>
      <if test="compensateState != null">
        compensate_state,
      </if>
      <if test="compensateResult != null">
        compensate_result,
      </if>
      <if test="exceptionInfo != null">
        exception_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="compensateId != null">
        #{compensateId,jdbcType=BIGINT},
      </if>
      <if test="triggerType != null">
        #{triggerType,jdbcType=VARCHAR},
      </if>
      <if test="compensateState != null">
        #{compensateState,jdbcType=VARCHAR},
      </if>
      <if test="compensateResult != null">
        #{compensateResult,jdbcType=VARCHAR},
      </if>
      <if test="exceptionInfo != null">
        #{exceptionInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLogExample" resultType="java.lang.Long">
    select count(*) from cm_compensate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cm_compensate_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.compensateId != null">
        compensate_id = #{record.compensateId,jdbcType=BIGINT},
      </if>
      <if test="record.triggerType != null">
        trigger_type = #{record.triggerType,jdbcType=VARCHAR},
      </if>
      <if test="record.compensateState != null">
        compensate_state = #{record.compensateState,jdbcType=VARCHAR},
      </if>
      <if test="record.compensateResult != null">
        compensate_result = #{record.compensateResult,jdbcType=VARCHAR},
      </if>
      <if test="record.exceptionInfo != null">
        exception_info = #{record.exceptionInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cm_compensate_log
    set id = #{record.id,jdbcType=BIGINT},
      compensate_id = #{record.compensateId,jdbcType=BIGINT},
      trigger_type = #{record.triggerType,jdbcType=VARCHAR},
      compensate_state = #{record.compensateState,jdbcType=VARCHAR},
      compensate_result = #{record.compensateResult,jdbcType=VARCHAR},
      exception_info = #{record.exceptionInfo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLog">
    update cm_compensate_log
    <set>
      <if test="compensateId != null">
        compensate_id = #{compensateId,jdbcType=BIGINT},
      </if>
      <if test="triggerType != null">
        trigger_type = #{triggerType,jdbcType=VARCHAR},
      </if>
      <if test="compensateState != null">
        compensate_state = #{compensateState,jdbcType=VARCHAR},
      </if>
      <if test="compensateResult != null">
        compensate_result = #{compensateResult,jdbcType=VARCHAR},
      </if>
      <if test="exceptionInfo != null">
        exception_info = #{exceptionInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLog">
    update cm_compensate_log
    set compensate_id = #{compensateId,jdbcType=BIGINT},
      trigger_type = #{triggerType,jdbcType=VARCHAR},
      compensate_state = #{compensateState,jdbcType=VARCHAR},
      compensate_result = #{compensateResult,jdbcType=VARCHAR},
      exception_info = #{exceptionInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.weweibuy.framework.compensate.mybatis.po.CompensateLogExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cm_compensate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>